<router-outlet></router-outlet>

<div class="hud">

    <div class="hud-ammo"></div>

    <div class="hud-health">

        <img id="health" class="health" src="../assets/images/hud/health-100.png">

    </div>

    <div class="hud-arms">

        <div class="row justify-content-center arms-margin">
            <i class="fab fa-html5" title="HTML5"></i>
            <i class="fab fa-css3 margin-icons" title="CSS3"></i>
            <i class="fab fa-js-square" title="Javascript"></i>
        </div>

        <div class="row justify-content-center">
            <i class="fab fa-angular" title="Angular"></i>
            <i class="fab fa-bootstrap margin-icons" title="Bootstrap"></i>
            <i class="fab fa-git-alt" title="Git"></i>
        </div>

    </div>

    <div class="hud-doomguy">

        <img (click)="takeDamage()" id="doomguy" src="../assets/images/doomguy/doomguy-100-front.png">

    </div>

    <div class="hud-armor">

        <img id="armor" class="health" src="../assets/images/hud/armor-100.png">

    </div>

    <div class="hud-keys">

        <div class="keys-position">
            <a (click)="openHyperlink()" class="efset" href="https://www.efset.org/cert/GsPYh7" target="_blank" rel="noopener noreferrer">EF</a>
        </div>

        <div class="keys-position">
            <a (click)="openHyperlink()" class="udemy" href="https://www.udemy.com/certificate/UC-XKDQ04FM/" target="_blank" rel="noopener noreferrer">U</a>
        </div>

        <div class="keys-position">
            <a (click)="openHyperlink()" href="https://github.com/ericrcorral" target="_blank" rel="noopener noreferrer"><i class="fab fa-github-alt github"></i></a>
        </div>


    </div>

    <div class="hud-type-ammo"></div>

</div>